@font-face {
  font-family: 'Roboto Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
}

:is(a,button,.btn,.chip):focus-visible {
  outline: 0.125rem solid var(--primary);
  outline-offset: 0.25rem;
}

[disabled] {
  color: rgb(from var(--on-surface) r g b / 38%);
  pointer-events: none;
}

img[width][height] {
  height: auto;
}

summary {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input.ex {
  appearance: none;
  position: absolute;
}

button.ex {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  letter-spacing: inherit;
}

iconify-icon:not(aside iconify-icon, iconify-icon[width][height]) {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.chip input,
.tabs input,
.segmented input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.radio,
.checkbox,
.switch {
  user-select: none;
}

html,
body {
  margin: 0;
}

body {
  font-family: var(--font);
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  line-height: 1.5rem;
  background: var(--background);
  color: var(--on-background);
  min-height: 100vh;
}

main {
  display: flex;
  min-height: 100vh;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
