img.btn {
  object-fit: cover;
  object-position: center;
  border: none;
}

:where(button, .btn):not(.ex) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border: 1px solid transparent;
  border-radius: var(--button-shape);
  color: var(--on-primary);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  padding: 0.65rem 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  outline: 1px solid transparent;
  transition: border-radius var(--easing-fast-spatial), box-shadow var(--easing-fast), background-color var(--easing-fast), color var(--easing-fast);
}

:where(button, .btn):not(.ex):hover {
  background: rgb(from var(--primary) r g b / 90%);
  box-shadow: var(--elevation-1);
}

:is(button, .btn):active {
  border-radius: var(--rounding-small) !important;
}

:where(button, .btn):not(.ex) i {
  max-width: none;
}

:where(button, .btn):not(.ex) i * {
  font-size: 1.125rem;
  margin: 0 0.5rem 0 0;
}

:where(button, .btn):not(.ex).tonal,
:is(.segmented, .split).tonal :where(button, .btn):not(.ex) {
  background: var(--secondary-container);
  color: var(--on-secondary-container);
}

:where(button, .btn):not(.ex).tonal:hover,
.chip:has(input:checked):hover,
:is(.segmented, .split).tonal :where(button, .btn):not(.ex):hover {
  background: rgb(from var(--primary) r g b / 20%);
}

:where(button, .btn):not(.ex).text,
:where(button, .btn):not(.ex).outline,
:is(.split).outline :where(button, .btn):not(.ex) {
  box-shadow: none;
  background: transparent;
  color: var(--primary);
}

:where(button, .btn):not(.ex).text:hover,
:where(button, .btn):not(.ex).outline:hover,
:is(.split).outline :where(button, .btn):not(.ex):hover,
.tabs > label:has(input:checked):hover {
  box-shadow: none;
  background: rgb(from var(--primary) r g b / 10%);
}

:where(button, .btn):not(.ex).outline,
:is(.split).outline :where(button, .btn):not(.ex) {
  border: 0.0625rem solid var(--outline);
}

:where(button, .btn):not(.ex).text {
  padding: 0.8rem 0.8rem;
}

:where(button, .btn):not(.ex).elevated,
:is(.split).elevated :where(button, .btn):not(.ex) {
  background: var(--surface-container-low);
  color: var(--primary);
  box-shadow: var(--elevation-1) !important;
}

:where(button, .btn):not(.ex).elevated:hover,
:is(.split).elevated :where(button, .btn):not(.ex):hover {
  background: rgb(from var(--primary) r g b / 15%);
  box-shadow: var(--elevation-2) !important;
}

main > aside li:not(.active):hover i,
.menu > *:hover,
.chip:hover,
.tabs > *:hover {
  background: var(--surface-container-highest);
}

:where(button, .btn):not(.ex):is(.icon, .fab:not(.extended)) {
  aspect-ratio: 1/1;
  width: var(--size);
  height: var(--size);
}

:where(button, .btn):not(.ex):is(.icon, .fab.small) {
  --size: 2.5rem;
}

:where(button, .btn):not(.ex).chip.icon {
  --size: 2rem;
}

:where(button, .btn):not(.ex):is(.icon, .fab) i * {
  font-size: 1.5rem;
  margin-right: 0;
}

:where(button, .btn):not(.ex).fab.small {
  border-radius: var(--fab-small-shape);
}

:where(button, .btn):not(.ex).fab {
  box-shadow: var(--elevation-2);

  --size: 3.5rem;

  border-radius: var(--fab-normal-shape);
}

:where(button, .btn):not(.ex).fab.large {
  --size: 5.5rem;

  border-radius: var(--fab-large-shape);
}

:where(button, .btn):not(.ex).fab.large i * {
  font-size: 2.5rem;
}

:where(button, .btn):not(.ex).fab.extended {
  width: auto;
}

:where(button, .btn):not(.ex).fab.extended i * {
  margin-right: 0.5rem;
}

:is(.segmented, .split) {
  display: flex;
  gap: 0.125rem;
}

.split > :where(button, .btn):first-child {
  border-radius: var(--button-shape) var(--rounding-small) var(--rounding-small) var(--button-shape);
}

.split > :where(button, .btn):last-child {
  border-radius: var(--rounding-small) var(--button-shape) var(--button-shape) var(--rounding-small);
}

.segmented > :where(button, .btn):not(.ex):first-child,
.split > :where(button, .btn):first-child:hover {
  border-radius: var(--button-shape) var(--rounding-large) var(--rounding-large) var(--button-shape);
}

.segmented > :where(button, .btn):not(.ex):last-child,
.split > :where(button, .btn):last-child:hover {
  border-radius: var(--rounding-large) var(--button-shape) var(--button-shape) var(--rounding-large);
}

.split > :where(button, .btn):active {
  border-radius: var(--button-shape) !important;
}

.segmented :where(button, .btn):not(.ex) {
  background: var(--surface-container);
  color: var(--on-surface-variant);
  border-radius: var(--rounding-medium);
  width: 100%;
}

.segmented :where(button, .btn):not(.ex):hover {
  box-shadow: none;
  background: var(--surface-container-highest);
}

.segmented :where(button, .btn):not(.ex):has(input:checked) {
  border-radius: var(--button-shape);
  background: var(--primary);
  color: var(--on-primary);
}

.segmented.tonal :where(button, .btn):not(.ex):has(input:checked) {
  background: var(--secondary);
}
