.card {
  padding: 1rem;
  background: var(--surface-container-low);
  color: var(--on-surface);
  box-shadow: var(--elevation-1);
  border-radius: var(--card-shape);
}

.container:not(:has(>header, >footer)),
.container>header,
.container:not(.min)>footer {
  padding: 1rem;
  border-radius: var(--rounding-extra-large);
  background: var(--surface-container-low);
  color: var(--on-surface);
}

.container.min>footer {
  padding: 1rem 0;
}

.container:has(>header, >footer) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container>header {
  flex-grow: 1;
}

.container:not(.min)>header {
  border-radius: var(--rounding-extra-large) var(--rounding-extra-large) var(--rounding-small) var(--rounding-small);
}

.container:not(.min)>footer {
  border-radius: var(--rounding-small) var(--rounding-small) var(--rounding-extra-large) var(--rounding-extra-large);
}