.chip {
  display: inline-flex;
  padding: 0.35rem 1rem;
  border-radius: var(--chip-shape);
  background: var(--surface);
  color: var(--on-surface-variant);
  border: solid 0.0625rem var(--outline);
}

.chip:not(.icon) i * {
  margin-left: -0.25rem;
}

.chip:not(.icon) i:last-child {
  margin-left: 0.65rem;
  margin-right: -0.75rem;
}

.chip:has(input:not(:checked)):hover {
  box-shadow: none;
}

.chip:has(input:checked) {
  border-color: transparent;
  background: var(--secondary-container);
  color: var(--on-secondary-container);
}
