.field {
  position: relative;
}

.field:not(:last-child, :is(nav, .row) .field, .grid>.field) {
  margin-bottom: 1rem;
}

.field :is(input, textarea) {
  display: block !important;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--on-surface);
  box-sizing: border-box;
  font: inherit;
  padding: 1rem;
  resize: vertical;
}

.field:not(.outline) :is(input, textarea) {
  border-bottom: 1px solid var(--outline);
  background: var(--surface-container-highest);
  border-radius: var(--textfield-filled-shape) var(--textfield-filled-shape) 0 0;
  padding: 1.5rem 1rem 0.5rem;
}

.field:not(.outline) :is(input, textarea):hover {
  background: rgb(from var(--on-surface) r g b / 15%);
}

.field.outline :is(input, textarea) {
  border: 1px solid var(--outline);
  border-radius: var(--textfield-outlined-shape);
}

.field:not(.outline) :is(input, textarea):focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
  margin-bottom: -1px;
}

.field.outline :is(input, textarea):focus {
  border: 2px solid var(--primary);
  margin: -1px;
}

.field :is(input, textarea)::placeholder {
  color: transparent;
  user-select: none;
}

.field label {
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 1rem;
  display: flex;
  align-items: self-start;
  pointer-events: none;
}

.field label span {
  transition: all 0.4s var(--curve-decel);
}

.field.outline label {
  margin-left: -.35rem;
}

.field.outline label span {
  padding: 0 .35rem;
  background: var(--background);
}

.field:not(.outline) :is(input, textarea):is(:focus, :not(:placeholder-shown)) + label span {
  font-size: 0.75rem;
  transform: translate(0, -50%);
}

.field.outline :is(input, textarea):is(:focus, :not(:placeholder-shown)) + label span {
  font-size: 0.75rem;
  transform: translate(0, -115%);
}

.field :is(input, textarea):focus + label span {
  color: var(--primary);
}

.field:has(iconify-icon) :is(input, textarea) {
  padding-left: 2.85rem !important;
}

.field:has(iconify-icon) label {
  left: 2.85rem;
}

.field.outline:has(iconify-icon) :is(input, textarea):is(:focus, :not(:placeholder-shown)) + label {
  left: 1rem;
}

.field iconify-icon {
  position: absolute;
  pointer-events: none;
  left: 0.65rem;
  font-size: 1.5rem;
}
