details .menu {
  position: absolute;
  z-index: 2;
}

.list-box,
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-box>* {
  padding: 1.15rem 1rem 0.75rem;
}

.list-box>*>article * {
  margin: 0;
}

.list-box>* iconify-icon,
.menu>* iconify-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.list-box>*+* {
  border-top: 1px solid var(--outline-variant);
}

.menu {
  background: var(--surface-container);
  box-shadow: var(--elevation-2);
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: var(--menu-shape);
  padding: 0.5rem 0;
  min-width: 7rem;
  max-width: 17.5rem;
}

.menu>* {
  padding: 0.75rem;
  cursor: pointer;
  transition: 0.1s;
}