.tabs {
  display: flex;
  border-bottom: 1px solid var(--outline-variant);
}

.tabs.variable {
  padding: 0 1rem;
}

.tabs.variable > * {
  width: max-content;
  padding: 0.65rem 1rem;
  height: 4rem;
}

.tabs > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0 0;
  height: 3rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  user-select: none;
  transition: 0.1s;
}

.tabs iconify-icon {
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  font-size: 1.5rem;
}

.tabs > label:has(input:checked) {
  color: var(--primary);
}

.tabs > label::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 3rem;
  margin: 0 auto;
  background: var(--primary);
  border-radius: .1875rem .1875rem 0 0;
  transition: height var(--easing-fast-spatial);
}

.tabs > label:has(input:checked)::after {
  height: .1875rem;
}