:root,body.light {
  --primary: #6750a4;
  --on-primary: #ffffff;
  --primary-container: #e9ddff;
  --on-primary-container: #22005d;
  --secondary: #625b71;
  --on-secondary: #ffffff;
  --secondary-container: #e8def8;
  --on-secondary-container: #1e192b;
  --tertiary: #7e5260;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffd9e3;
  --on-tertiary-container: #31101d;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fffbff;
  --on-background: #1c1b1e;
  --surface: #fdf8fd;
  --on-surface: #1c1b1e;
  --surface-variant: #e7e0eb;
  --on-surface-variant: #49454e;
  --outline: #7a757f;
  --outline-variant: #cac4cf;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #313033;
  --inverse-on-surface: #f4eff4;
  --inverse-primary: #cfbcff;
  --surface-dim: #ddd8dd;
  --surface-bright: #fdf8fd;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f7f2f7;
  --surface-container: #f2ecf1;
  --surface-container-high: #ece7eb;
  --surface-container-highest: #e6e1e6
}

body.dark {
  --primary: #cfbcff;
  --on-primary: #381e72;
  --primary-container: #4f378a;
  --on-primary-container: #e9ddff;
  --secondary: #cbc2db;
  --on-secondary: #332d41;
  --secondary-container: #4a4458;
  --on-secondary-container: #e8def8;
  --tertiary: #efb8c8;
  --on-tertiary: #4a2532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd9e3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: #141316;
  --on-surface: #e6e1e6;
  --surface-variant: #49454e;
  --on-surface-variant: #cac4cf;
  --outline: #948f99;
  --outline-variant: #49454e;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e6e1e6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750a4;
  --surface-dim: #141316;
  --surface-bright: #3a383c;
  --surface-container-lowest: #0f0e11;
  --surface-container-low: #1c1b1e;
  --surface-container: #201f22;
  --surface-container-high: #2b292d;
  --surface-container-highest: #363438;
  color-scheme: dark;
}

:root {
  --elevation-0: none;
  --elevation-1: 0 3px 1px -2px rgb(from var(--shadow) r g b / 20%), 0 2px 2px 0 rgb(from var(--shadow) r g b / 14%), 0 1px 5px 0 rgb(from var(--shadow) r g b / 12%);
  --elevation-2: 0 2px 4px -1px rgb(from var(--shadow) r g b / 20%), 0 4px 5px 0 rgb(from var(--shadow) r g b / 14%), 0 1px 10px 0 rgb(from var(--shadow) r g b / 12%);
  --elevation-3: 0 5px 5px -3px rgb(from var(--shadow) r g b / 20%), 0 8px 10px 1px rgb(from var(--shadow) r g b / 14%), 0 3px 14px 2px rgb(from var(--shadow) r g b / 12%);
  --elevation-4: 0 5px 5px -3px rgb(from var(--shadow) r g b / 20%), 0 8px 10px 1px rgb(from var(--shadow) r g b / 14%), 0 3px 14px 2px rgb(from var(--shadow) r g b / 12%);
  --elevation-5: 0 8px 10px -6px rgb(from var(--shadow) r g b / 20%), 0 16px 24px 2px rgb(from var(--shadow) r g b / 14%), 0 6px 30px 5px rgb(from var(--shadow) r g b / 12%);
  --bottom-offset: 0;
  --rounding-none: 0;
  --rounding-extra-small: 0.25rem;
  --rounding-small: 0.5rem;
  --rounding-medium: 0.75rem;
  --rounding-large: 1rem;
  --rounding-extra-large: 1.75rem;
  --rounding-full: 2.25rem;
  --font: roboto, "Roboto Variable", system-ui, sans-serif;
  --easing-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.9) 0.35s;
  --easing-spatial: cubic-bezier(0.38, 1.21, 0.22, 1) 0.5s;
  --easing-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98) 0.65s;
  --easing-fast: cubic-bezier(0.31, 0.94, 0.34, 1) 0.15s;
  --easing: cubic-bezier(0.34, 0.8, 0.34, 1) 0.2s;
  --easing-slow: cubic-bezier(0.34, 0.88, 0.34, 1) 0.3s;
  --curve: linear(0, 0.034 6%, 0.073 9%, 0.126 11%, 0.194 13%, 0.273 15%, 0.351 16%, 0.541 18%, 0.652 20%, 0.755 24%, 0.839 30%, 0.91 39%, 0.959 53%, 0.989 72%, 1);
  --curve-decel: cubic-bezier(0.05, 0.7, 0.1, 1);
  --curve-accel: cubic-bezier(0.3, 0, 0.8, 0.15);
}

:root {
  --snackbar-shape: var(--rounding-extra-small);
  --segmented-button-shape: var(--rounding-full);
  --button-shape: var(--rounding-full);
  --chip-shape: var(--rounding-small);
  --textfield-outlined-shape: var(--rounding-extra-small);
  --textfield-filled-shape: var(--rounding-extra-small);
  --datefield-shape: var(--rounding-extra-small);
  --date-picker-shape: var(--rounding-large);
  --slider-track-out-shape: 0.5rem;
  --slider-track-in-shape: 0.125rem;
  --slider-thumb-shape: var(--rounding-full);
  --menu-shape: var(--rounding-extra-small);
  --linear-progress-shape: var(--rounding-full);
  --bottom-sheet-shape: var(--rounding-extra-large);
  --card-shape: var(--rounding-medium);
  --fab-small-shape: var(--rounding-small);
  --fab-normal-shape: var(--rounding-large);
  --fab-large-shape: var(--rounding-extra-large);
  --dialog-shape: var(--rounding-extra-large);
  --checkbox-shape: 0.175rem;
  --radio-shape: var(--rounding-full);
  --switch-track-shape: var(--rounding-full);
  --switch-handle-shape: var(--rounding-full);
}
